<div class="home-container">
  <section class="main-home-description">
    <div>
      <span>Introducing All new CP Molgen Facility</span>
      <h1>
        Quickly find your <br />
        Molecules information <br />
        <p>From CP Molgen.</p>
      </h1>
    </div>

    <div class="buttons-container">
      <Button class="appoinment-button" routerLink="/Stepper"
      >Get Started <img src="assets/arrow-right.png"
      /></Button>
      <div class="getStart-container">
        <img src="assets/getStartStart.svg" />
        <p class="getStartDescription">
          Determination of Structures <br />Molecules Base on Spectrale
          <br />Analysis in Organic Chimie
        </p>
        <img src="assets/getStartArrow.svg" class="get-start-img" />
      </div>

      <Button class="lean-more-button"
      >Learn More <img src="assets/arrow-right.png"
      /></Button>
      <div class="see-more-container">
        <img src="assets/seeMoreArrow.svg" class="see-more-arrow" />

        <img src="assets/seeMoreStart.svg" class="see-more-img" />
        <p class="seeMoreDescription">
          To Learn More <br />About CpMolgen <br />Click here
        </p>
      </div>
    </div>
  </section>
  <img src="assets/emptyStart.svg" class="empty-start" />
  <img src="assets/serviceStart.svg" class="filled-start" />
  <img src="assets/lab.svg" class="home-image" />
  <img src="assets/circule.svg" class="circule-img" />
  <img src="assets/Ellipse.svg" class="Ellipse-img" />
</div>

<section class="service-description" id="services">
  <div class="service-section-container">
    <img src="assets/serviceStart.svg" class="servicesStart" />
    <h1>Services</h1>
  </div>

  <div class="grid-container">
    <div class="card-container">
      <div class="card-header">
        <img src="assets/signalIcon.svg" />
        <p>Not just signal processing</p>
      </div>

      <span
      >CPMolgen also handles chemical structures. They can either be imported
        from a MDL Molfile, copy pasted directly in the molecule panel or drawn.
      </span>
    </div>
    <div class="card-container">
      <div class="card-header">
        <img src="assets/specterIcon.svg" />
        <p>1D spectra</p>
      </div>

      <span
      >CPMolgen accepts 1D spectras. For 1D spectra it can either be a FID or
        a fourrier transformed spectrum. Currently, only FT 2D spectra are
        allowed.
      </span>
    </div>
    <div class="card-container">
      <div class="card-header">
        <img src="assets/smartIcon.svg" />
        <p>Smart peak picking</p>
      </div>

      <span
      >CPMolgen includes an advanced peak picking detection for 1D spectras
        and is able to generate the NMR string required for publication or
        patent.
      </span>
    </div>
    <div class="card-container">
      <div class="card-header">
        <img src="assets/userExpIcon.svg" />
        <p>Great user experience</p>
      </div>

      <span
      >To provide an optimal user experience, the spectra processing is
        efficiently performed within the web browser
      </span>
    </div>
    <div class="card-container">
      <div class="card-header">
        <img src="assets/integrationIcon.svg" />
        <p>Advanced Integration</p>
      </div>

      <span
      >CPMolgen offers seamless integration with other chemical informatics
        tools and databases, allowing for enhanced data analysis and management.
      </span>
    </div>
    <div class="card-container">
      <div class="card-header">
        <img src="assets/onlineProcessIcon.svg" />
        <p>Process directly online</p>
      </div>

      <span
      >You don't have to go through the hassle of installing any software or
        applications. Click <a href="#">here</a> to start.
      </span>
    </div>
  </div>
</section>

<footer class="footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Reach us</h4>
        <ul>
          <li><a>+216 52 939 593</a></li>
          <li><a>mapsit.info&#64;gmail.com</a></li>
          <li><a>Monastir , Tunis , Tunisia</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">cp molgen</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/">
            <i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
          <a href="https://x.com/?lang=ar"
          ><i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/"
          ><i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="copyright">&copy; 2024 CP Molgen</p>
        </div>
      </div>
    </div>
  </div>
</footer>
